/* On mobile screen
- move header content to fixed top/bottom
- hide sidebar except for back to top button
*/
@media (max-width: 600px) {
    header {
        display: none;
    }
    
    .grid {
        margin: auto;
    }
    
    .grid-item--width2,
    .container-wide {
        height: 138px;
        width: 280px;
    }
    
    .content-container {
        border: 0;
    }
    
    #sidebar {
        display: none;
    }
}


/* On medium screens,
tablets, touch
- try to use all elements from large screen
*/
@media (min-width: 601px) and (max-width: 900px){
   #sidebar {
       display: none;
   }
}


/* On large screens,
- something
*/
@media (min-width: 901px) and (max-width: 1280px){
 
}


/* On extra large screens,
- stretch contents to hold regular containers
- center masonry container
- add something cool?
*/
@media (min-width: 1281px) {

}


/*Columns and Grids*/

.col-container {
    display: flex;
}

.col-1 {
    width: 1600px;
    padding: 0 10px;
}