/* On mobile screen
- move header content to fixed top/bottom
- hide sidebar except for back to top button
*/
@media (max-width: 600px) {
    header {
        display: none;
    }
    
    #menu-container {
      display: block;
    }
    
    .grid {
        margin: auto;
        max-width: 570px;
    }
    
    .grid-item--width2,
    .container-wide {
        height: 138px;
        width: 280px;
    }
    
    #col-container,
    .content-container {
        border: 0;
        margin: 0 auto;
        width: 80%;
    }
    
    #sidebar {
        display: none;
    }
}


/* On medium screens,
tablets, touch
- try to use all elements from large screen
*/
@media (min-width: 601px) and (max-width: 900px){
  
  header {
      display: none;
  }
  
  #menu-container {
      display: block;
  }
  
  #col-container,
  .content-container {
      border: 0;
      margin: 0 auto;
      width: 86%;
  }
  
  .grid {
      margin: auto;
      max-width: 800px;
  }
  
   #sidebar {
       display: none;
   }
}


/* On large screens, landscape tablets
- something
*/
@media (min-width: 901px) and (max-width: 1280px){
 
 header {
    padding: 10px 0;
    left: 14px;
 }
 
 #menu-container {
    display: none;
 }
 
}


/* On extra large screens,
- stretch contents to hold regular containers
- center masonry container
- add something cool?
*/
@media (min-width: 1281px) {

}


/*Columns and Grids*/

.col-container {
    display: flex;
}

.col-1 {
    width: 1600px;
    padding: 0 10px;
}