:root {
/*Media Query*/
    --mobile: 600px;
    --tablet-landscape: 900px;
    --desktop: 1200px;
    --desktop-large: 1800px;
/*Colors*/
    --background-color: #E5E5E5;
    --copy-text-color: #3F3F3F;
    --medium-gray: #BDBDBD;
/*Typography*/
    --body-font: 'Arvo', serif;
    --body-font-size: 0.8em;
    --body-line-height: 1.2rem;
    --header-font-size: 1.6em;
    --header-font: 'Catamaran', sans-serif;
    --header-line-height: 1.2em;
/*Masonry*/
    --masonry-max-width: 1160px;
/*Project*/
    --project-max-width: 1150px;
}

/*
To do:
- image preloader
- isotope
- new page layout
*/


/*Initialize*/
body {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
}

p {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.centered {
    text-align: center;
}

/** Structure **/

#container {
    display: flex;
}

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 240px;
        padding: 20px 10px;
        border-bottom: 1px solid var(--medium-gray);
    }
    
    #content {
        border-left: 340px solid #ffffff;
        border-right: 80px solid #ffffff;
        min-height: 100%;
        height: auto;
    }

    #sidebar {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        width: 40px;
        min-height: 100%;
        border-left: 1px solid var(--medium-gray);
    }

/*header elements*/

#header-info {
    width: 200px;
    margin-left: 12px;
}

    p#header-info {
        font-family: var(--header-font);
        font-size: var(--header-font-size);
        line-height: var(--header-line-height);
    }

#controls {
    width: 300px;
}
    .controls-header {
        width: 240px;
        font-family: var(--font-body);
        font-size: var(--font-body-size);
    }

/*content elements*/

    /*Masonry*/
    .masonry {
        max-width: var(--masonry-max-width);
    }
    
    /*Project*/
    .content-project {
        display: none;
        max-width: var(--project-max-width);
    }

/*sidebar elements*/

#sidebar-quote-button {
}

#sidebar-quote {
    transform: rotate(90deg);
    text-align: center;
}