:root {
/*Media Query - needs testing*/
    --mobile-screen: 600px;
    --tablet-landscape: 900px;
    --desktop: 1200px;
    --desktop-large: 1800px;
    
/*Colors*/
    --background-color: #E5E5E5;
    --copy-text-color: #3F3F3F;
    --medium-gray: #BDBDBD;
    
/*Typography*/
    --body-font: 'Arvo', serif;
    --body-font-size: 0.8em;
    --body-line-height: 1.2rem;
    --header-font-size: 1.6em;
    --header-font: 'Catamaran', sans-serif;
    --header-line-height: 1.2em;
    
/*Header*/
    --header-margin: 12px;
    
/*Masonry*/
    --masonry-max-width: 1160px;
    
/*Project*/
    --project-max-width: 1150px;
}

/*
To do:
- image preloader
- isotope
- new page layout
*/


/*Initialize*/
body {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
}

p {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.centered {
    text-align: center;
}

/** Structure **/

#container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

    header {
        margin-right: auto;
        position: fixed;
        align-self: flex-start;
        top: 0;
        left: 0;
        width: 240px;
        padding: 20px 10px;
        min-height: 100%;
    }
    
    #content {
        margin-left: 260px;
        margin-top: 28px;
        min-height: 80%;
        height: auto;
    }

    #sidebar {
        align-self: flex-end;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        top: 0;
        right: 0;
        width: 40px;
        min-height: 100%;
    }

/*header elements*/

#header-info {
    width: 200px;
    margin-left: var(--header-margin);
}

    h1#header-info {
        font-family: var(--header-font);
        font-size: var(--header-font-size);
        line-height: var(--header-line-height);
        font-weight: normal;
    }
    
#header-info-two, 
#header-info-three,
#header-info-four,
#header-info-five,
#header-info-six{
    margin-left: var(--header-margin);
}


#controls {
    width: 300px;
}
    .controls-header {
        width: 240px;
        font-family: var(--font-body);
        font-size: var(--font-body-size);
    }

/*content elements*/

/*Masonry*/
.masonry {
    max-width: var(--masonry-max-width);
    display: flex;
    flex-wrap: wrap;
   
}
    
    .container-regular {
        width: 280px;
        height: 280px;
        background-color: #FAFAFA;
        margin: 5px;
    }
    
    .container-big {
        width: 570px;
        height: 570px;
        background-color: #FAFAFA;
        margin: 5px;
    }
    
    .container-long {
        width: 280px;
        height: 570px;
        background-color: #FAFAFA;
        margin: 5px;
    }
    
    .container-wide {
        width: 570px;
        height: 280px;
        background-color: #FAFAFA;
        margin: 5px;
    }
    
/*Project*/
.content-project {
    display: none;
    max-width: var(--project-max-width);
}

/*sidebar elements*/

#sidebar-quote-button {
}

#sidebar-quote {
    text-align: right;
    transform: rotate(90deg);
    white-space: nowrap;
    align-self: center;
}

/*Animations, Transitions*/
.hide {
    display: none;
    animation: Hide 250ms ease-in-out both;
}

.reveal {
    display: block;
    animation: Reveal 250ms ease-in-out both;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

@keyframes Reveal {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes Hide {
    from {opacity: 1;}
    to {opacity: 0;}
}
